* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1001;
}
.logoh1 {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
}

h1 {
    color: rgb(255, 123, 0);
}

.spanh1 {
    color: rgb(255, 123, 0);
    font-weight: 100;
}
