* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f3f7;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1001;
}

.logoh1 {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
}

h1 {
    color: rgb(255, 123, 0);
}

.spanh1 {
    color: rgb(255, 123, 0);
    font-weight: 100;
}

.leftheader {
    display: flex;
    align-items: center;
    position: relative;
    right: 150px;
}

.language {
    cursor: pointer;
    position: relative; 
}
.language1{
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 15px;
    border-radius: 8px;
    top: 40px; 
    left: 0;
}


.language:hover .dropdown-content {
    display: block;
}

.dropdown-content label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.dropdown-content select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.save-btn {
    background-color: orange;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: darkorange;
}

#selected-language {
    position: relative;
    top: 15px;
    right: 50px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}
.a{
    width: 90px;
    height: 70px;
    cursor: pointer;
}
.drop-down2{
    display: none;
    background-color: white;
    max-width: 380px;
    height: 400px;
    position: absolute;
    top: 78px;
    right: 20px;
    z-index: 2;
    cursor: alias;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.signin2:hover .drop-down2{
    display: block;
}
.h4-1{
    font-weight: 700;
    padding: 20px;
}
.btnsignin{
    width: 95%;
    padding: 8px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.btnsignin:hover{
    background-color: darkorange;
}
.h4-2{
    font-weight: 600;
    text-align: center;
    align-items: center;
    margin-top: 12px;
}
.imagesprogrames{
    text-align: center;
    align-items: center;
    padding: 15px;
}
.p-dropdown2{
    text-align: center;
    align-items: center;
}

.sec1{
    padding-top: 120px;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: white; 
}

.sec1 h1 {
    font-size: 44px; 
    margin-bottom: 10px; 
    color: #fff;

}

.sec1 p {
    font-size: 16px; 
}
.up-sec1{
    width: 1200px;
    height: 180px;
    background-color: #fff;
    position: absolute;
    top: 280px;
    left: 6%;
    border-radius:15px ;
    box-shadow: 0px 0px 5px 0.2px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
}
.up-sec1 h1{
    color: #222222;
}
.up-sec1 div {
    width: 150px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top:10px;
    left: 20px;

}
.up-sec1 div div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #DDD;
    margin-left: 17px;
}
.up-sec1 div a{
    font-size: 14px;
    text-decoration: none;
    color: #222222;
}
footer{
    width: 100%;
    height:250px;
    background-color: #DDD;
}